<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="PVe.Properties.Settings.CFeConnectionString" connectionString="Data Source=WIN-PC;Initial Catalog=CFeHA;Persist Security Info=True;User ID=cliente;Password=cliente1"
      providerName="System.Data.SqlClient" />-->

    <!--<add name="PVe.Properties.Settings.CFeConnectionString" connectionString="Data Source=WIN-PC\SQLEXPRESS;Initial Catalog=CFeHa;Persist Security Info=True;User ID=cliente;Password=cliente1"
  providerName="System.Data.SqlClient" />-->

    <!--<add name="PVe.Properties.Settings.CFeConnectionString" connectionString="Data Source=DESKTOP-R74U4BG\SQL;Initial Catalog=CFeDant;Integrated Security=True"
  providerName="System.Data.SqlClient" />-->
    
  <add name="PVe.Properties.Settings.CFeConnectionString" connectionString="Data Source=DESKTOP-E5DS8UQ\SQL;Initial Catalog=CFePha;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
</configuration>